* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: linear-gradient(45deg, #77dfec, #478ff3, #77dfec);
}

.title {
  width: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  font-size: 4rem;
  font-family: fantasy;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  min-width: 300px;
  padding: 6vh 2vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid #e4e7ed;
}

.pic-quality {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.pic-quality .label {
  margin-right: 10px;
  font-size: 1.2rem;
}
.pic-quality .picQua {
  border: 0;
  outline: 0;
  border: solid 1px #dcdfe6;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.upload-area {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 1.2rem 0; */
  margin-bottom: 0.8rem;
}

.upload-area .upload .input-file-button {
  padding: 0.6rem 2rem;
  background: #1989fa;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.upload-area .upload {
  margin-bottom: 0.5rem;
}
.upload-area .tips {
  font-size: 0.8rem;
  color: #909399;
  text-align: center;
}

#download {
  user-select: none;
  padding: 0.6rem 2rem;
  background: #67c23a;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.download-disabled {
  cursor: not-allowed !important;
  background: #b3e19d !important;
}

/* 删除箭头 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.loading {
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 2;
}
.loading .loading-text {
  margin-right: 1rem;
  color: #1989fa;
  font-size: 2rem;
}
.loading .loading-icon {
  width: 1.8rem;
}
.show {
  visibility: visible;
}
